*{
    margin:0;
    padding:0;
}
#piechart:hover{
  transform: scale(1.15);
}
#titulo-Topo:hover{
    animation: jump-ti 0.5s;
    transform: scale(1.2);
}
@keyframes jump-ti {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
#jump-button:hover {
    animation: jump 0.5s;
    transform: scale(1.2);
  }
  
  @keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  #jump-button {
    background: linear-gradient(to bottom, #ff7f00, #ac3c04);
  }
  #jump-button {
    box-shadow: 10px 14px 16px rgba(0, 0, 0, 0.3);
  }

  #ul-jump:hover{
    animation: jump-ul 0.5s;
  }
  @keyframes jump-ul {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  #card{
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  }
  footer {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    font-family: Arial, sans-serif;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  
  a:hover {
    color: #f00;
  }
  
  .container-fluid {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .bg-dark {
    background-color: #000;
  }
  
  .text-light {
    color: #fff;
  }
  
  .rounded {
    border-radius: 10px;
  }
  
  .bi {
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    vertical-align: middle;
  }
  
  .bi-link-45deg:before {
    content: "\e17f";
  }
  
  .col-md-4 {
    margin-bottom: 30px;
  }
  
  @media (max-width: 767px) {
    .col-md-4 {
      text-align: center;
    }
  }
  